@font-face {
	font-family: 'Conv_bmitra';
	src: url('/fonts/bmitra.eot');
	src: url('/fonts/bmitra.woff') format('woff'), url('/fonts/bmitra.ttf') format('truetype'), url('/fonts/bmitra.svg') format('svg');
}

